.newOrderContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 2;
  }
  
  .newOrderSubcontainer {
    flex: 1;
    width: '100%';
    height: '100%'
  }
  
  .buttonContainer {
    display: flex;
    flex-direction: row-reverse;
  }
  
  .navForm {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex: 1;
  }
  
  .firstStepContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    align-self: center;
    margin: 100px;
  }

  .customerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .clientContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }